{% load static %}
<!doctype html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Магазин{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <header>
      <nav>
        <a href="{% url 'main:product_list' %}">Каталог</a>
        {% for cat in categories %}
        <a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a>
        {% endfor %}
      </nav>
    </header>
    <main>{% block content %}{% endblock %}</main>
    <footer>© 2026 Магазин</footer>
  </body>
</html>
