{% extends 'main/base.html' %} 
{% load static shop_filters shop_tags %} 
{% block title %}
{{product.name }}
{% endblock %}
{% block content %}

<div class="product-detail">
  {% if product.image %}<img src="{{ product.image.url }}" alt="{{ product.name }}"/>{% endif %}
  <h1>{{ product.name }}</h1>
  {% if product.discount_price and product.discount_price < product.price %}
  <p class="h5 text-success">{{ product.discount_price|currency }}</p>
  <p><del>{{ product.price|currency }}</del> (знижка {{ product.price|discount_percentage:product.discount_price }}%)</p>
  {% else %}
  <p class="price h5">{{ product.price|currency }}</p>
  {% endif %}
  <p>
    <strong>Категорія:</strong> {{ product.category }} | Перегляди: {{product.views|compact_number }}
  </p>
  <p>Додано: {{ product.created_at|time_ago }}</p>
  <div class="description">{{ product.description|linebreaks }}</div>
  <a href="{% url 'main:product_list' %}" class="btn">До каталогу</a>
  <button class="btn">Додати до кошика</button>
</div>

<h2>Схожі товари</h2>
<div class="related-grid">
  {% for p in related_products %}
    {% show_product_card p %}
  {% endfor %}
</div>

{% include 'reviews/review_list.html' %}
{% endblock %}